@font-face {
  font-family: 'Twemoji';
  src: url('/static/Twemoji.ttf') format('truetype');
}

body {
  color: #222222;
  background: #fffefa;
}

main p {
  font-family: 'Crimson Text', Twemoji;
  font-size: 17pt;
}

code {
  font-size: 0.7em;
  padding: 0 0.2em;
  border-radius: 0.2em;
}

code.math {
  padding: 0;
  background: none;
  font-size: 0.75em;
}

nav.top ol {
  display: flex;
  flex-wrap: wrap; /* Wrap to new lines on small screens */
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3rem;
  font-size: 3rem;
}

@media (max-width: 600px) {
  nav.top ol {
    flex-direction: column; /* Stack vertically on mobile */
  }
}

.hl.lean {
  font-size: 1.6rem;
}

.hl.lean.block {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-list > li {
  display: block;
  border: 1px solid #aaa;
  border-radius: .5rem;
  padding: 1rem 2rem;
  margin: 2rem 0;
  background: #fffffc;
}

.post-list > li .title {
  font-family: 'Charis SIL';
  font-weight: bold;
  font-size: 140%;
}

.read-more { display: none; }

.post-list > li .read-more::after {
  content: " »";
}

.metadata {
  font-family: 'IBM Plex Sans';
  font-size: 1.5rem;
}

.categories {
  display: none;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.categories:not(:empty) {
  display: block;
}

.categories::before {
  content: "Category: ";
}

.categories:has(li:nth-child(2))::before {
  content: "Categories: ";
}

.categories li {
  display: inline;
  background-color: #f5e9df;
  border-radius: 5px;
  padding: 0px 5px;
}

.categories a {
  color: #444;
}

.authors {
  display: none;
}
.authors:not(:empty) {
  display: inline;
}

.authors::before {
  content: "By ";
}

.authors .author:not(:last-child)::after {
  content: ", ";
}

.authors .author:last-child::after {
  content: ". ";
}

.date {
  display: inline;
  background: #efe3f0;
  border-radius: 5px;
  padding: 0px 5px;
}

.date:not(:empty)::before {
  content: "Created: ";
}

header h1 {
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 2.3em;
  font-family: 'Charis SIL';
  font-weight: 400;
}

h2 {
  font-size: 1.7em;
}

h2, h3, h4 {
  font-family: 'Charis SIL';
  font-weight: 700;
}

nav.breadcrumbs {
  font-size: 2rem;
}

nav.breadcrumbs ol {
  display: block;
  padding: 0;
}


nav.breadcrumbs ol li, nav.breadcrumbs ol li a {
  display: inline;
  padding: 0;
  position: inherit;
  text-wrap: nowrap;
}

nav.breadcrumbs ol li:not(:last-child)::after {
  content: " » ";
}

/* todo: breadcrumb, make page title smaller/color, can't see links, put posts in boxes */
